<h1 mat-dialog-title color="primary">
    {{data.title}}
</h1>

<div mat-dialog-content>
    {{data.message}}
    <div *ngIf="data.method == 'delete_Project'">
        <mat-label>Enter 'DELETE' to delete Project.</mat-label>
        <mat-form-field appearance="fill" class="example-form" color="warn">
            <mat-label>DELETE</mat-label>
            <input type="text" matInput (keyup)="activate_delete()" [(ngModel)]="delete_input" placeholder="" >
        </mat-form-field> 
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="delete_notallowed" [mat-dialog-close]="true">{{data.button}}</button>
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
</div>
