<mat-toolbar color="primary">
    <button mat-icon-button color="secondary" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>BioData DB - {{apiService.dataset.name}}</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="secondary" (click)="openProfile()">
        <mat-icon>person</mat-icon>
        {{authService.user_data.preferred_username}}
    </button>
</mat-toolbar>

<mat-card class="mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>
            Stats about {{apiService.dataset.name}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item style="height: 40px;">
                <mat-icon>bar_chart</mat-icon>
                Number of Objects: {{apiService.obj_groups.length}}
            </mat-list-item>
            <mat-list-item style="height: 40px;">
                <mat-icon>bar_chart</mat-icon>
                Stat 2
            </mat-list-item>
            <mat-list-item style="height: 40px;">
                <mat-icon>bar_chart</mat-icon>
                Stat 3
            </mat-list-item>
        </mat-list>

        <div *ngIf="uploadPanel">
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        File Upload
                    </mat-panel-title>
                    <mat-panel-description>
                        Progress of File Uploads
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-list>
                    <div *ngFor="let progress of upload_progress, ; let i = index" [attr.data-index]="i">
                        <div *ngIf="upload_progress[i].userUpload == false">
                            <mat-list-item style="height: 40px;">
                                File Upload: {{progress.filename}}
                                <mat-progress-bar color="accent" mode="determinate"
                                    [value]="upload_progress[i].progress">
                                </mat-progress-bar>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </div>
                    </div>
                </mat-list>

                <div *ngIf="upload_userFiles">

                    <mat-list>
                        <mat-list-item>
                            <mat-label>
                                File Upload needed for:
                            </mat-label>
                        </mat-list-item>
                        <div *ngFor="let userFile of files_userUpload; let i=index" [attr.data-index]="i">
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <mat-label>
                                    Objectname: {{userFile.filespecs.object.name}}
                                    <button [cdkCopyToClipboard]="userFile.fromServer.link" mat-raised-button color="primary"
                                    (click)="openSnackBar('URL copied to Clipboard.', 'success-snackbar')">
                                        Copy Upload Link
                                    </button>
                                </mat-label>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-label>
                                    Filename: {{userFile.filespecs.object.filename}}.{{userFile.filespecs.object.filetype}}
                                </mat-label>
                            </mat-list-item>
                            
                            <mat-label>
                                <div fxLayout="row wrap" fxLayoutGap="16px grid">
                                    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%">
                                        <mat-form-field appearance="fill" class="example-form">
                                            <mat-label>File</mat-label>
                                            <input type="text" disabled matInput [(ngModel)]="files_userUpload[i].file_name">
                                        </mat-form-field>
                                    </div>

                                    <div fxFlex="5%" fxFlex.xs="100%" fxFlex.sm="33%">
                                        <input hidden type="file" #fileInput (input)="onFileInput(fileInput.files, i)" />
                                        <button mat-mini-fab color="accent" (click)="fileInput.click()">
                                            <mat-icon>attach_file</mat-icon>
                                        </button>
                                    </div>
                                    <div fxFlex="5%" fxFlex.xs="100%" fxFlex.sm="33%">
                                        <button mat-mini-fab color="accent" [disabled]="files_userUpload[i].uploadnotAllowed" (click)="uploadSingleFile(i)">
                                            <mat-icon>upload</mat-icon>
                                        </button>
                                    </div>
                                    <div fxFlex="65%" fxFlex.xs="100%" fxFlex.sm="33%">
                                        <mat-progress-bar *ngIf="files_userUpload[i].process.uploading" color="accent" mode="determinate" [value]="files_userUpload[i].process.progress">
                                        </mat-progress-bar>

                                    </div>
                                    <div fxFlex="5%" fxFlex.xs="100%" fxFlex.sm="33%">
                                        <button mat-mini-fab color="warn" (click)="hideFile(userFile)">
                                            <mat-icon>close</mat-icon>
                                        </button>

                                    </div>
                                </div>
                            </mat-label>

                        </div>


                    </mat-list>


                </div>
                <button *ngIf="uploadedFinishedButton" mat-raised-button color="primary"
                    (click)=hideUploadedFiles()>Hide Uploaded Files</button>

            </mat-expansion-panel>

        </div>

    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)=newObjectgroup()>New Objectgroup</button>
    </mat-card-actions>
</mat-card>

<mat-paginator [pageSizeOptions]="[25, 50, 100, 150]"></mat-paginator>

<mat-form-field appearance="fill" class="example-form">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Name" #input>
</mat-form-field>
<table mat-table [dataSource]="obj_groups_table" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}}
            <button [cdkCopyToClipboard]="element.id" mat-icon-button color="primary"
                (click)="openSnackBar('ID copied to Clipboard.', 'success-snackbar')">
                <mat-icon>content_copy</mat-icon>
            </button>
        </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element">
            {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let element">
            {{element.description}}</td>
    </ng-container>
    <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
        <td mat-cell *matCellDef="let element">
            {{element.created}}</td>
    </ng-container>
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete Dataset </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="deleteObjGroup(element.id)">
                <mat-icon>delete_forever</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No dataset found matching the filter "{{input.value}}"</td>
    </tr>
</table>