<mat-toolbar color="primary">
    <button mat-icon-button color="secondary" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>BioData DB - {{apiService.dataset.name}}</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="secondary" (click)="openProfile()">
        <mat-icon>person</mat-icon>
        {{authService.user_data.preferred_username}}
    </button>
</mat-toolbar>

<mat-card class="mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>
            Stats about {{apiService.dataset.name}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%">
                <mat-list>
                    <mat-list-item style="height: 40px;">
                        <mat-icon>bar_chart</mat-icon>
                        Number of Object Groups: {{apiService.paginantor_config.stats.groupscount}}
                    </mat-list-item>
                    <mat-list-item style="height: 40px;">
                        <mat-icon>bar_chart</mat-icon>
                        Number of Objects: {{apiService.paginantor_config.stats.objectscount}}
                    </mat-list-item>
                    <mat-list-item style="height: 40px;">
                        <mat-icon>bar_chart</mat-icon>
                        Average Object Size: xx
                    </mat-list-item>
                    <mat-list-item style="height: 40px;">
                        <mat-icon>bar_chart</mat-icon>
                        Size of all Objects: xx
                    </mat-list-item>
                    <mat-list-item style="height: 40px;">
                        <button mat-icon-button #tooltip="matTooltip" matTooltip="Go back" matTooltipPosition="above"
                            color="accent" (click)="changePage('back')" [disabled]="back_disabled">
                            <mat-icon>
                                chevron_left
                            </mat-icon>
                        </button>
                        Page {{apiService.paginantor_config.activepage +1}} of
                        {{apiService.paginantor_config.pagecount}}
                        <button mat-icon-button #tooltip="matTooltip" matTooltip="Go forward" matTooltipPosition="above"
                            color="accent" (click)="changePage('forward')" [disabled]="forward_disabled">
                            <mat-icon>
                                chevron_right
                            </mat-icon>
                        </button>

                    </mat-list-item>
                </mat-list>
            </div>
            <!--<div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%">
                <mat-label><h3>View object groups in date range</h3></mat-label>
                <mat-form-field appearance="fill" class="example-form">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                      <input  matStartDate [(ngModel)]="date_range.start" placeholder="Start date">
                      <input  matEndDate [(ngModel)]="date_range.end" placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker>
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button (click)=viewSelectedGroups() color="primary" matDatepickerApply>Apply</button>
                          </mat-datepicker-actions>
                    </mat-date-range-picker>
                  </mat-form-field> 
                <button mat-raised-button (click)="refreshData()" color="accent">Reset</button>
            </div>-->
        </div>


        <div *ngIf="uploadPanel">
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Uploading Files
                    </mat-panel-title>
                    <mat-panel-description>
                        Progress of File Uploads
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-list>
                    <div *ngFor="let object of auto_upload ; let i = index" [attr.data-index]="i">

                        <mat-list-item style="height: 40px;">
                            File Upload: {{object.htmlKeys.filename}}
                            <mat-progress-bar color="accent" mode="determinate" [value]="object.htmlKeys.progress">
                            </mat-progress-bar>
                        </mat-list-item>
                        <mat-divider></mat-divider>

                    </div>
                </mat-list>
            </mat-expansion-panel>
            <!--<div *ngIf="userUploadPanel">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            User File Upload
                        </mat-panel-title>
                        <mat-panel-description>
                            Input for Files needed
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-list>
                        <div *ngFor="let object of user_upload; let i = index" [attr.data-index]="i">
                            <mat-list-item style="height: 40px;">
                                Filename: {{object.htmlKeys.filename}}
                            </mat-list-item>
                            <mat-label>
                                <div fxLayout="row wrap" fxLayoutGap="16px grid">
                                    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%">
                                        <mat-form-field appearance="fill" class="example-form">
                                            <mat-label>File</mat-label>
                                            <input type="text" disabled matInput
                                                [(ngModel)]="user_upload[i].htmlKeys.filename_input">
                                        </mat-form-field>
                                    </div>

                                    <div fxFlex="5%" fxFlex.xs="100%" fxFlex.sm="33%">
                                        <input hidden type="file" #fileInput
                                            (input)="onFileInput(fileInput.files, i)" />
                                        <button mat-mini-fab color="accent" (click)="fileInput.click()">
                                            <mat-icon>attach_file</mat-icon>
                                        </button>
                                    </div>
                                    <div fxFlex="5%" fxFlex.xs="100%" fxFlex.sm="33%">
                                        <button mat-mini-fab color="accent"
                                            [disabled]="user_upload[i].htmlKeys.uploadnotAllowed"
                                            (click)="uploadSingleFile(i)">
                                            <mat-icon>upload</mat-icon>
                                        </button>
                                    </div>
                                    <div fxFlex="65%" fxFlex.xs="100%" fxFlex.sm="33%">
                                        <mat-progress-bar *ngIf="files_userUpload[i].process.uploading" color="accent"
                                            mode="determinate" [value]="files_userUpload[i].process.progress">
                                        </mat-progress-bar>

                                    </div>
                        </div>
                    </mat-list>
                </mat-expansion-panel>
            </div>-->
            
                <!--
                <div *ngIf="upload_userFiles">

                    <mat-list>
                        <mat-list-item>
                            <mat-label>
                                File Upload needed for:
                            </mat-label>
                        </mat-list-item>
                        <div *ngFor="let userFile of files_userUpload; let i=index" [attr.data-index]="i">
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <mat-label>
                                    Objectname: {{userFile.filespecs.object.name}}
                                    <button [cdkCopyToClipboard]="userFile.fromServer.link" mat-raised-button
                                        color="primary"
                                        (click)="openSnackBar('URL copied to Clipboard.', 'success-snackbar')">
                                        Copy Upload Link
                                    </button>
                                    <button mat-icon-button 
       
                                    #tooltip="matTooltip" 
                                    matTooltip="Share Dataset to create Object Groups"
                                    matTooltipPosition="above" color="accent" (click)="shareCreateObjectGroups()">
                                        <mat-icon>share</mat-icon>
                                    </button>
                                </mat-label>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-label>
                                    Filename:
                                    {{userFile.filespecs.object.filename}}.{{userFile.filespecs.object.filetype}}
                                </mat-label>
                            </mat-list-item>

                            <mat-label>
                                <div fxLayout="row wrap" fxLayoutGap="16px grid">
                                    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%">
                                        <mat-form-field appearance="fill" class="example-form">
                                            <mat-label>File</mat-label>
                                            <input type="text" disabled matInput
                                                [(ngModel)]="files_userUpload[i].file_name">
                                        </mat-form-field>
                                    </div>

                                    <div fxFlex="5%" fxFlex.xs="100%" fxFlex.sm="33%">
                                        <input hidden type="file" #fileInput
                                            (input)="onFileInput(fileInput.files, i)" />
                                        <button mat-mini-fab color="accent" (click)="fileInput.click()">
                                            <mat-icon>attach_file</mat-icon>
                                        </button>
                                    </div>
                                    <div fxFlex="5%" fxFlex.xs="100%" fxFlex.sm="33%">
                                        <button mat-mini-fab color="accent"
                                            [disabled]="files_userUpload[i].uploadnotAllowed"
                                            (click)="uploadSingleFile(i)">
                                            <mat-icon>upload</mat-icon>
                                        </button>
                                    </div>
                                    <div fxFlex="65%" fxFlex.xs="100%" fxFlex.sm="33%">
                                        <mat-progress-bar *ngIf="files_userUpload[i].process.uploading" color="accent"
                                            mode="determinate" [value]="files_userUpload[i].process.progress">
                                        </mat-progress-bar>

                                    </div>
                                    <div fxFlex="5%" fxFlex.xs="100%" fxFlex.sm="33%">
                                        <button mat-mini-fab color="warn" (click)="hideFile(userFile)">
                                            <mat-icon>close</mat-icon>
                                        </button>

                                    </div>
                                </div>
                            </mat-label>

                        </div>


                    </mat-list>


                </div>
                <button *ngIf="uploadedFinishedButton" mat-raised-button color="primary"
                    (click)=hideUploadedFiles()>Hide Uploaded Files</button>
            -->
            

        </div>

    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)=newObjectgroup()>New Object Group</button>
        <!--<button mat-icon-button 
            #tooltip="matTooltip" 
            matTooltip="Share Dataset to create Object Groups"
            matTooltipPosition="above" color="accent" (click)="shareCreateObjectGroups()">
                <mat-icon>share</mat-icon>
            </button>-->




    </mat-card-actions>
</mat-card>
<mat-paginator [pageSizeOptions]="[25, 50, 100, 150]"></mat-paginator>




<mat-form-field appearance="fill" class="example-form">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Name" #input>
</mat-form-field>

<table mat-table [dataSource]="obj_groups_table" matSort class="mat-elevation-z8" multiTemplateDataRows>


    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element">
            {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let element">
            {{element.description}}</td>
    </ng-container>
    <ng-container matColumnDef="objectcount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Number of Objects </th>
        <td mat-cell *matCellDef="let element">
            {{element.objectcount}}</td>
    </ng-container>
    <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
        <td mat-cell *matCellDef="let element">
            {{element.created}}</td>
    </ng-container>
    <!--<ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Copy ID </th>
        <td mat-cell *matCellDef="let element">
            <button [cdkCopyToClipboard]="element.id" mat-icon-button color="primary"
                (click)="openSnackBar('ID copied to Clipboard.', 'success-snackbar')">
                <mat-icon>content_copy</mat-icon>
            </button>
        </td>
    </ng-container>
    <ng-container matColumnDef="download">
        <th mat-header-cell *matHeaderCellDef> Download Object Group </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="downloadObjectGroup(element.id)">
                <mat-icon>file_download</mat-icon>
            </button>
        </td>
    </ng-container>-->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
            <button [cdkCopyToClipboard]="element.id" mat-icon-button #tooltip="matTooltip"
                matTooltip="Copy Object Group ID" matTooltipPosition="above" color="primary"
                (click)="openSnackBar('ID copied to Clipboard.', 'success-snackbar')">
                <mat-icon>content_copy</mat-icon>
            </button>
            <button mat-icon-button #tooltip="matTooltip" matTooltip="Download Object Group" matTooltipPosition="above"
                color="primary" (click)="downloadObjectGroup(element)">
                <mat-icon>file_download</mat-icon>
            </button>
            <!--<button mat-icon-button 
            
            #tooltip="matTooltip" 
            matTooltip="Share Object Group to Upload Files"
            matTooltipPosition="above" color="accent" (click)="shareObjectGroup(element)">
                <mat-icon>share</mat-icon>
            </button>-->
            <button mat-icon-button #tooltip="matTooltip" matTooltip="Delete Object Group" matTooltipPosition="above"
                matTooltipClass="warning-snackbar" color="warn" (click)="deleteObjGroup(element.name, element.id)">
                <mat-icon>delete_forever</mat-icon>
            </button>
        </td>
    </ng-container>



    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail" [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'">
                <mat-card class="mat-elevation-z4" style="width: 100%;">
                    <mat-card-content>
                        <table mat-table [dataSource]="element.objects" class="mat-elevation-z4">
                            <ng-container matColumnDef="filename">
                                <th mat-header-cell *matHeaderCellDef> Filename </th>
                                <td mat-cell *matCellDef="let inner_element">
                                    {{inner_element.filename}} </td>
                            </ng-container>

                            <ng-container matColumnDef="filetype">
                                <th mat-header-cell *matHeaderCellDef> Filetype </th>
                                <td mat-cell *matCellDef="let inner_element">
                                    {{inner_element.filetype}}</td>
                            </ng-container>
                            <ng-container matColumnDef="created">
                                <th mat-header-cell *matHeaderCellDef> Created </th>
                                <td mat-cell *matCellDef="let inner_element">
                                    {{inner_element.created | date: "dd. MMM yyyy, HH:mm.ss"}}</td>
                            </ng-container>
                            <ng-container matColumnDef="filesize">
                                <th mat-header-cell *matHeaderCellDef> Filesize (Bytes)</th>
                                <td mat-cell *matCellDef="let inner_element">
                                    {{inner_element.contentLen}}</td>
                            </ng-container>
                            <!--<ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef> Copy ID </th>
                                <td mat-cell *matCellDef="let inner_element">
                                    <button [cdkCopyToClipboard]="inner_element.id" mat-icon-button color="primary"
                                        (click)="openSnackBar('ID copied to Clipboard.', 'success-snackbar')">
                                        <mat-icon>content_copy</mat-icon>
                                    </button>
                                </td>
                            </ng-container>-->
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef> Actions </th>
                                <td mat-cell *matCellDef="let inner_element">
                                    <button [cdkCopyToClipboard]="inner_element.id" mat-icon-button
                                        #tooltip="matTooltip" matTooltip="Copy Object ID" matTooltipPosition="above"
                                        color="primary"
                                        (click)="openSnackBar('ID copied to Clipboard.', 'success-snackbar')">
                                        <mat-icon>content_copy</mat-icon>
                                    </button>
                                    <button mat-icon-button #tooltip="matTooltip" matTooltip="Download File"
                                        matTooltipPosition="above" color="primary"
                                        (click)="downloadObject(inner_element)">
                                        <mat-icon>file_download</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="inner_displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: inner_displayedColumns;"></tr>
                        </table>

                    </mat-card-content>
                </mat-card>
            </div>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
        [class.example-expanded-row]="row.isExpanded" (click)="row.isExpanded = !row.isExpanded"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No dataset found matching the filter "{{input.value}}"</td>
    </tr>
</table>