<h1 mat-dialog-title color="primary">
    <button mat-mini-fab mat-dialog-close 
    #tooltip="matTooltip" 
            matTooltip="Close"
            matTooltipPosition="below" color="primary">
        <mat-icon>close</mat-icon>
    </button>
    {{data.title}}
</h1>
<div mat-dialog-content>
    <mat-list>
        <mat-list-item>
            Click to Copy Download Link
    <button color="primary" [cdkCopyToClipboard]="data.link" mat-icon-button>
        <mat-icon>content_copy</mat-icon>
    </button>
        </mat-list-item>
        <mat-list-item>
            Click to Download Object Group
    <button mat-icon-button color="primary"><mat-icon>
        file_download
    </mat-icon></button>
        </mat-list-item>
    </mat-list>
    
    
</div>