<h1 mat-dialog-title color="primary">
    <button mat-mini-fab mat-dialog-close #tooltip="matTooltip" matTooltip="Close" matTooltipPosition="below"
        color="primary">
        <mat-icon>close</mat-icon>
    </button>
    Add Metadata
</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill" class="example-form">
        <mat-label>Name</mat-label>
        <input type="text" matInput (keyup)="validate()" [(ngModel)]="metadata.name">
    </mat-form-field>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-label>
                Metadata Type:
            </mat-label>
        </div>
        <div fxFlex="60%" fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-form-field appearance="fill" class="example-form">
                <mat-select [(ngModel)]="file_type">
                    <mat-option value=".json">
                        JSON
                    </mat-option>
                    <mat-option value=".yaml">
                        YAML
                    </mat-option>

                    <mat-option value=".xml">
                        XML
                    </mat-option>
                    <mat-option value=".csv">
                        CSV
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
    </div>

    <!--<div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-label>
                Metadata as text or file:
            </mat-label>
        </div>
        <div fxFlex="60%" fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-form-field appearance="fill" class="example-form">
                <mat-select [(ngModel)]="input_type">
                    <mat-option value=text>
                        Text
                    </mat-option>
                    <mat-option value=file>
                        File
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>-->
    
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        
        <div fxFlex="70%" fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-form-field appearance="fill" class="example-form">
                <mat-label>File</mat-label>
                <input type="text" disabled matInput [(ngModel)]="file_name">
            </mat-form-field>
        </div>
        <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="33%">
            <input hidden type="file" [accept]="file_type" #fileInput (input)="onFileInput(fileInput.files)" />
            <button mat-mini-fab color="accent" (click)="fileInput.click()"><mat-icon>attach_file</mat-icon>
            </button>
        </div>
    </div>
    <mat-form-field  class="example-form" appearance="fill">
        <mat-label>Metadata as Text</mat-label>
        <textarea style="height: 300px;" matInput [(ngModel)]="meta_data_string" placeholder="Some Metadata..."></textarea>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="addnotallowed" [mat-dialog-close]="metadata">Generate</button>
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>

</div>