<h1 mat-dialog-title color="primary">
    <button mat-icon-button mat-dialog-close color="primary">
        <mat-icon>close</mat-icon>
    </button>
    Details - {{data.details.dataset.name}}
</h1>
<mat-list role="list">
                    <mat-list-item role="listitem">Created: {{data.details.dataset.created | date: "HH:mm.ss, dd. MMM yyyy"}}</mat-list-item>
                    <mat-list-item role="listitem">ID: {{data.details.dataset.id}}
                        <button [cdkCopyToClipboard]="data.details.dataset.id" mat-icon-button color="primary" 
                        >
                            <mat-icon>content_copy</mat-icon>
                        </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">Description: <br>{{data.details.dataset.description}}</mat-list-item>
                </mat-list>
