<mat-toolbar color="primary">
    <button mat-icon-button color="secondary" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>BioData DB - Dataset Overview - Project: {{apiService.project.project["name"]}} </span>
    <span class="example-spacer"></span>
    <button
        mat-icon-button
        #tooltip="matTooltip" 
        matTooltip="Endpoint URLs"
        matTooltipPosition="below"
        color="secondary"
        (click)="openEndpoints()">
        <mat-icon>build</mat-icon>
    </button>
    <button mat-raised-button color="secondary" (click)="openProfile()">
        <mat-icon>person</mat-icon>
        {{authService.user_data.preferred_username}}
    </button>
</mat-toolbar>


<mat-card class="mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>
            Stats about this Project
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item style="height: 40px;">
                <mat-icon>bar_chart</mat-icon>
                Number of Datasets: {{apiService.project.datasets.length}}
            </mat-list-item>
            <mat-list-item style="height: 40px;">
                <mat-icon>bar_chart</mat-icon>
                Stat 2
            </mat-list-item>
            <mat-list-item style="height: 40px;">
                <mat-icon>bar_chart</mat-icon>
                Stat 3
            </mat-list-item>
            <mat-list-item style="height: 40px;">
                x users have access to this project
                <button mat-icon-button color="primary" #tooltip="matTooltip" matTooltip="View users with access"
                    matTooltipPosition="above" (click)="openUsers()">
                    <mat-icon>groups</mat-icon>
                </button>
            </mat-list-item>
            <mat-list-item style="height: 40px;">
                <mat-label>
                    The table below contains the datasets for the project "{{apiService.project.project["name"]}}".
                </mat-label>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)=newDataset()>New Dataset</button>
    </mat-card-actions>
</mat-card>


<div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="70%" fxFlex.xs="100%">
        <mat-form-field appearance="fill" class="example-form">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Name" #input>
        </mat-form-field>
    </div>
    <div fxFlex="30%" fxFlex.xs="100%">
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
    </div>
</div>

<table mat-table [dataSource]="dataset_table" matSort class="mat-elevation-z8">

    <!-- <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Copy Dataset ID </th>
        <td mat-cell *matCellDef="let element">  
            <button [cdkCopyToClipboard]="element.id" mat-icon-button color="primary" (click)="openSnackBar()">
                <mat-icon>content_copy</mat-icon>
                </button>
        </td>
    </ng-container> -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element">
            {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let element">
            {{element.description}}</td>
    </ng-container>
    <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
        <td mat-cell *matCellDef="let element">
            {{element.created | date: "dd. MMM yyyy, HH:mm.ss"}}</td>
    </ng-container>
    <!--<ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> View Details </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="viewDetails(element.id)">
                <mat-icon>search</mat-icon></button>
        </td>
    </ng-container>
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete Dataset </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="deleteDataset(element.name, element.id)">
                <mat-icon>delete_forever</mat-icon></button>
        </td>
    </ng-container>
    <ng-container matColumnDef="version">
        <th mat-header-cell *matHeaderCellDef> View Versions </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="viewVersion(element.id)">
                <mat-icon>history</mat-icon></button>
        </td>
    </ng-container>-->

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element">         
            <button mat-icon-button #tooltip="matTooltip" matTooltip="{{element.status}}" matTooltipPosition="above"
                [class]="element.status">
                <mat-icon>circle</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
            <button [cdkCopyToClipboard]="element.id" #tooltip="matTooltip" matTooltip="Copy Dataset ID"
                matTooltipPosition="above" mat-icon-button color="primary" (click)="openSnackBar()">
                <mat-icon>content_copy</mat-icon>
            </button>
            <button mat-icon-button #tooltip="matTooltip" matTooltip="View Details" matTooltipPosition="above"
                color="primary" (click)="viewDetails(element)">
                <mat-icon>search</mat-icon>
            </button>

            <button mat-icon-button #tooltip="matTooltip" matTooltip="Delete Dataset" matTooltipPosition="above"
                color="warn" matTooltipClass="warning-snackbar" (click)="deleteDataset(element.name, element.id)">
                <mat-icon>delete_forever</mat-icon>
            </button>
            <button mat-icon-button #tooltip="matTooltip" matTooltip="Go to Versions" matTooltipPosition="above"
                color="primary" (click)="viewVersion(element)">
                <mat-icon>history</mat-icon>
            </button>
            <button mat-icon-button #tooltip="matTooltip" matTooltip="Go to Dataset" matTooltipPosition="above"
                color="primary" (click)="toObjectGroups(element)">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No dataset found matching the filter "{{input.value}}"</td>
    </tr>
</table>