table {
    width: 100%;
  }

  .example-form {
    width: 100%;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  .Unspecified{
    color: #f06406;
  }

  .Initiating{
    color: #f5f102;
  }

  .Available{
    color: #08bd17;
  }

  .Updating{
    color: #f5f102;
  }

  .Archived{
    color: #076bdd;
  }

  .Deleting{
    color: #bd0808;
  }