<mat-toolbar color="primary">
    <button mat-icon-button color="secondary" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    BioData DB - project_name
</mat-toolbar>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            Users with access to this Project
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list role="list">
            <mat-list-item role="listitem">User 1</mat-list-item>
            <mat-list-item role="listitem">User 2</mat-list-item>
            <mat-list-item role="listitem">User 3</mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)=newDataset()>New Dataset</button>
        <button mat-raised-button color="primary">Add User to Project</button>
    </mat-card-actions>
</mat-card>

<mat-form-field appearance="fill" class="example-form">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Projectname" #input>
</mat-form-field>
<table mat-table [dataSource]="dataset_table" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> 
            {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="datatype">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Datatype </th>
        <td mat-cell *matCellDef="let element">
             {{element.datatype}}</td>
    </ng-container>
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete Dataset </th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" (click)="deleteDataset(element.name, element.id)">Delete</button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No project found matching the filter "{{input.value}}"</td>
    </tr>
</table>