html,
body {
	max-width: 100%;
	overflow-x: hidden;
	font-family: sans-serif;
	text-align: center;
}

.down {
	margin-top: 10rem;
}

.import-left {
	text-align: left !important;
}

.table-responsive {
	max-height: 80dvh;
}


.hook {
	font-size: 4vw;
}

.top {
	position: absolute;
	z-index: -100vh;
	margin-top: 40vh;
}

.ocean-bg {
	background-color: rgba(#007bc1, .175);
	z-index: -2;
}


.ocean {
	background-color: #007bc1;
	top: 25vh;
	opacity: .175;
	width: 200vw;
	position: absolute;
	height: 43vh;
	z-index: -2;
}

.bubble {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	position: absolute;
	background-color: white;
	z-index: -1;
	opacity: 0.4;
	animation: bubble 15s ease-in-out infinite,
		sideWays 4s ease-in-out infinite alternate;
	transition: opacity 13s ease-in-out;
}

@keyframes bubble {
	0% {
		transform: translateY(0vh);
		opacity: 0;
	}

	10% {
		transform: translateY(-10vh);
		opacity: 0.2;
	}

	50% {
		transform: translateY(-55vh);
		opacity: 0.3;
	}

	100% {
		transform: translateY(-70vh);
		opacity: 0;
	}
}

@keyframes sideWays {
	0% {
		margin-left: 0px;
	}

	100% {
		margin-left: 200px;
	}
}


.bubble--1 {
	left: 90vw;
	animation-delay: 0.5s;
	animation-duration: 16s;
	opacity: 0.2;
	transition: visibility 0s 16s, opacity 16s linear;
}

.bubble--2 {
	width: 15px;
	height: 15px;
	left: 90vw;
	animation-delay: 1s;
	animation-duration: 10s;
	transition: visibility 0s 10s, opacity 10s linear;
	opacity: 0.1;
}

.bubble--3 {
	width: 10px;
	height: 10px;
	left: 10vw;
	animation-delay: 5s;
	animation-duration: 20s;
	transition: visibility 0s 20s, opacity 20s linear;
	opacity: 0.3;
}

.bubble--4 {
	width: 25px;
	height: 25px;
	left: 90vw;
	animation-delay: 8s;
	animation-duration: 17s;
	transition: visibility 0s 17s, opacity 17s linear;
	opacity: 0.2;
}

.bubble--5 {
	width: 30px;
	height: 30px;
	left: 90vw;
	animation-delay: 10s;
	animation-duration: 15s;
	transition: visibility 0s 15s, opacity 15s linear;
	opacity: 0.1;
}

.bubble--6 {
	width: 10px;
	height: 10px;
	left: 90vw;
	animation-delay: 3s;
	animation-duration: 30s;
	transition: visibility 0s 30s, opacity 30s linear;
	opacity: 0.4;
}

.bubble--7 {
	width: 15px;
	height: 15px;
	left: 90vw;
	animation-delay: -7s;
	animation-duration: 25s;
	transition: visibility 0s 25s, opacity 25s linear;
	opacity: 0.3;
}

.bubble--9 {
	width: 20px;
	height: 20px;
	left: 90vw;
	animation-delay: -5s;
	animation-duration: 19s;
	transition: visibility 0s 19s, opacity 19s linear;
	opacity: 0.2;
}

.bubble--10 {
	width: 40px;
	height: 40px;
	left: 20vw;
	animation-delay: -21s;
	animation-duration: 16s;
	transition: visibility 0s 16s, opacity 16s linear;
	opacity: 0.3;
}

.bubble--11 {
	width: 30px;
	height: 30px;
	left: 20vw;
	animation-delay: -13.75s;
	animation-duration: 20s;
	transition: opacity 18s ease-in-out;
	opacity: 0.3;
}

.bubble--11 {
	width: 25px;
	height: 25px;
	left: 20vw;
	animation-delay: -10.5s;
	animation-duration: 19s;
	transition: opacity 17s ease-in-out;
	opacity: 0.3;
}




@media (min-width: 1200px) {
	.hook {
		font-size: 50px;
	}
}

@media (max-width: 800px) {
	.hook {
		font-size: 30px;
	}
}

.outer {
	position: relative;
}


.wave {
	background: url(wave.svg) repeat-x;
	position: absolute;
	bottom: 0.4px;
	width: 10*100vw;
	height: 170px;
	animation: wave 28s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
}

.wave:nth-of-type(2) {
	animation: wave 28s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.2s infinite, swell 28s linear -.2s infinite;
	opacity: 1;
}

@keyframes wave {
	0% {
		transform: translate3d(-100vw, 0, 0);
	}

	100% {
		transform: translate3d(-200vw, 0, 0);
	}
}

@keyframes swell {

	0% {
		height: 160px;
	}

	50% {
		height: 120px;
	}

	100% {
		height: 160px;
	}
}


.my-accordion-icon[aria-expanded="false"] {
	transform: rotate(0deg) !important;
	transition: 0.1s
}

.my-accordion-icon[aria-expanded="true"] {
	transform: rotate(180deg) !important;
	transition: 0.1s
}

.collapsing {
	transition: 0.1s ease-out;
}

.cookie-consent {
	position: fixed;
	bottom: 8px;
	left: 20px;
	width: 100%;
	padding-top: 7px;
	height: 70px;
	color: #fff;
	line-height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	background: #292929;
	z-index: 120;
	cursor: pointer;
	border-radius: 3px;
}

.allow-button {
	height: 20px;
	width: 104px;
	color: #fff;
	font-size: 12px;
	line-height: 10px;
	border-radius: 3px;
	border: 1px solid green;
	background-color: green;
}

.hidden {
	display: none !important;
}

.tag {
	height: auto !important;
	margin-right: 8px;
	margin-bottom: .5em;
	border-radius: 8px;
	cursor: pointer;
}

.key,
.value {
	padding: .8em;
	padding-top: .2em;
	padding-bottom: .2em;
}


.value {
	--tblr-status-color: #0054a6;
	--tblr-status-color-rgb: 0, 84, 166;
	color: var(--tblr-status-color);
	border-radius: 0 4px 4px 0;
	margin-right: -8px;
	background: rgba(var(--tblr-status-color-rgb), .1)
}

.pagination {
	margin-top: 1rem;
}

input[type="radio"] {
	visibility: hidden;
	height: 0;
	width: 0;
}

.form-selectgroup {
	display: flex !important;
	flex-direction: column;
}