<h1 mat-dialog-title color="primary">
    <button mat-icon-button mat-dialog-close color="primary">
        <mat-icon>close</mat-icon>
    </button>
    Profile
</h1>


    <div mat-dialog-content>
    
        <mat-list>
            <mat-list-item style="height: 40px;">
                <mat-icon>login</mat-icon>
                Logged in as User: {{authService.user_data.preferred_username}}
            </mat-list-item>
            <mat-list-item style="height: 40px;">
                <mat-icon>person</mat-icon>
                Name: {{authService.user_data.name}}
            </mat-list-item>
            <mat-list-item style="height: 40px;">
                <mat-icon>alternate_email</mat-icon>
                Email: {{authService.user_data.email}}
            </mat-list-item>
            <mat-list-item style="height: 40px;">
                <mat-icon>fingerprint</mat-icon>
                User ID: {{authService.user_data.sub}}
                <button [cdkCopyToClipboard]="authService.user_data.sub" mat-icon-button color="primary">
                <mat-icon>content_copy</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>


        <button mat-raised-button color="warn" (click)="logout()">Logout</button>

    </div>
