{{define "baseHeader"}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Dashboard Template for Bootstrap</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="/static/bootstrap.min.css">

<!-- Custom styles for this template -->
<link href="/static/dashboard.css" rel="stylesheet">
<script src="/static/jquery-3.5.1.min.js"></script>
<script src="/static/popper.min.js"></script>
<script src="/static/buttonFunctions.js"></script>
{{end}}