<h1 mat-dialog-title color="primary">
    <button mat-mini-fab mat-dialog-close #tooltip="matTooltip" matTooltip="Close" matTooltipPosition="below"
        color="primary">
        <mat-icon>close</mat-icon>
    </button>
    Endpoint URLs
</h1>

<div mat-dialog-content>
    <mat-list>
        <mat-list-item>
            Gateway URL:<br/>
             {{configService.gateway_url}}
             <button [cdkCopyToClipboard]="configService.gateway_url" mat-icon-button #tooltip="matTooltip" matTooltip="Copy ID"
                        matTooltipPosition="above" color="primary" (click)="openSnackBar()">
                        <mat-icon>content_copy</mat-icon>
            </button>
            <button [cdkCopyToClipboard]="configService.gateway_url" mat-icon-button #tooltip="matTooltip" matTooltip="Open in new tab" matTooltipPosition="above"
                color="primary" (click)="goToLink(configService.gateway_url)">
                <mat-icon>logout</mat-icon>
            </button>
        </mat-list-item>

        <mat-list-item>
            Swagger UI URL:<br/>
            {{configService.swagger_ui}}
            <button [cdkCopyToClipboard]="configService.swagger_ui" mat-icon-button #tooltip="matTooltip" matTooltip="Copy ID"
                        matTooltipPosition="above" color="primary" (click)="openSnackBar()">
                        <mat-icon>content_copy</mat-icon>
            </button>
            <button [cdkCopyToClipboard]="configService.swagger_ui" mat-icon-button #tooltip="matTooltip" matTooltip="Open in new tab" matTooltipPosition="above"
                color="primary" (click)="goToLink(configService.swagger_ui)">
                <mat-icon>logout</mat-icon>
            </button>
        </mat-list-item>

        <mat-list-item>
            API URL:<br/>
            {{configService.api_url}}
            <button [cdkCopyToClipboard]="configService.api_url" mat-icon-button #tooltip="matTooltip" matTooltip="Copy ID"
                        matTooltipPosition="above" color="primary" (click)="openSnackBar()">
                        <mat-icon>content_copy</mat-icon>
            </button>
            <button mat-icon-button #tooltip="matTooltip" matTooltip="Open in new tab" matTooltipPosition="above"
                color="primary" (click)="goToLink(configService.api_url)">
                <mat-icon>logout</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
</div>