/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.warning-snackbar {
    background: #eb7609;
    color: #000000;
  }
.success-snackbar {
    background: #279e03;
    color: #ffffff;
}
