<mat-toolbar color="primary">
    BioData DB
  </mat-toolbar>
  <div class="component">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2]">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title>Create new Project</mat-card-title>
                </mat-card-header>
    
                <mat-card-actions>
                    <button color="primary" mat-button>Create</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    </div>